<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbvc9wGrf0rZVpBgYgvprHmRtXezXu4uM</string>
	<key>GCM_SENDER_ID</key>
	<string>342469186116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sardorbek.Phone-Sales</string>
	<key>PROJECT_ID</key>
	<string>phone-sale-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-sale-pos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342469186116:ios:8ed6eea2d885d949daa211</string>
</dict>
</plist>